# device/sprd/mpool/module/audio/main.ueventd.rc
/dev/apipe-pcm          0660     system      audio
/dev/apipe-cmd-in       0660     system      audio
/dev/apipe-cmd-out      0660     system      audio
# device/sprd/mpool/module/audio/msoc/sharkl5Pro/sharkl5Pro.ueventd.rc
/sys/devices/platform/audiocp_boot agdsp 0660 audioserver audio
/sys/devices/platform/audiocp_boot ldinfo 0660 audioserver audio
/sys/devices/platform/audiocp_boot start 0660 audioserver audio
/sys/devices/platform/audiocp_boot status 0660 audioserver audio
/sys/devices/platform/audiocp_boot stop 0660 audioserver audio
/dev/block/by-name/l_agdsp 0660 audioserver audio
/dev/audio_dsp* 666 audioserver audio
/dev/audio_pipe* 660 audioserver audio
# device/sprd/mpool/module/display/sr/main.ueventd.rc
/dev/block/by-name/logo          0660     system      system
# device/sprd/mpool/module/modem/msoc/sharkl5Pro/sharkl5Pro.ueventd.rc
/dev/block/by-name/l_*       0660     system      system
/dev/block/by-name/pm_sys*       0660     system      system
# device/sprd/mpool/module/vdsp/msoc/sharkl5Pro/sharkl5Pro.ueventd.rc
/dev/vdsp* 660 cameraserver system
# device/sprd/mpool/module/wcn/gnss/main.ueventd.rc
/dev/data0_gnss         0666     system      system
# device/sprd/mpool/module/ueventd/main.ueventd.rc
/dev/sttygnss0          0660     system      system
/dev/spipe_gnss0        0660     system      system
/dev/spipe_gnss1        0660     system      system
/dev/stime_pm           0660     system      system
/dev/stime_ch           0660     system      system

/dev/slog_gnss          0660     system      system
/dev/slog_wcn0          0660     system      system
/dev/ttyS3              0660     system      system
/dev/ttyS4              0660     system      system
/dev/ttyS0              0660     system      system
/dev/power_ctl          0660     system      system
/dev/gnss_dbg           0660     system      system
/dev/block/by-name/gnssmodem       0660     system      root
/dev/fm                 0660     system      audio
/dev/ttyM0              0660     bluetooth   net_bt_admin
/dev/ttyM1              0660     bluetooth   net_bt_admin
/dev/trusty-ipc-dev0    0660     system      system
/dev/tshm		0660     system      system
/dev/sttybt0            0660     bluetooth   net_bt_admin
/dev/ttyBT0             0660     bluetooth   net_bt_admin

/dev/trusty-ipc-dev0    0660     system      system
/dev/stty_lte*          0660     radio       system
/dev/slog_lte           0660     system      system
/dev/slog_pm            0660     system      system
/dev/slog_ch            0660     system      system
/dev/sctl_pm            0660     system      system
/dev/sctl_ch            0660     system      system
/dev/sdiag_lte          0660     system      system
/dev/spipe_lte*         0660     system      system
/dev/sprd_time_sync     0660     system      system
/dev/spipe_lte5         0660     radio      system
/dev/spipe_lte4         0660     media       audio
/dev/spipe_lte6         0660     media       audio
/dev/spipe_lte9         0660     radio       radio
/dev/spipe_lte14        0660     audioserver audio
/dev/spipe_pm*          0666     system      system
/dev/spipe_ch*          0666     system      system
/dev/snv_lte            0660     system      system

/dev/stty_nr*           0660     radio       system
/dev/slog_nr            0660     system      system
/dev/slog_phy           0660     system      system
/dev/sdiag_nr           0660     system      system
/dev/spipe_nr*          0660     system      system
/dev/spipe_nr5          0660     radio      system
/dev/spipe_nr4          0660     media       audio
/dev/spipe_nr6          0660     media       audio
/dev/spipe_nr9          0660     radio       radio
/dev/spipe_nr14         0660     media       audio
/dev/snv_nr		0660     system      system
/dev/vser               0660     system      system
/dev/ttyGS*             0660     system      system

/dev/ion                0666     system      graphics
/dev/gsp                0660     system      graphics

/dev/mali0              0666     system      graphics
/dev/pvr_sync           0666     system      graphics
/dev/sprd_jpg           0666     system      camera
/dev/sprd_jpg1          0660     system      camera
/dev/sprd_vsp           0660     system      camera
/dev/vpu_enc0           0660     system      camera
/dev/vpu_enc1           0660     system      camera
/dev/sprd_vpp           0660     system      camera
/dev/sprd_vsp_enc       0660     system      camera

/dev/sprd_image         0660     system      camera
/dev/sprd_isp           0660     system      camera
/dev/sprd_sensor        0660     system      camera
/dev/sprd_cpp           0660     system      camera
/dev/sprd_fd            0660     system      camera

/sys/devices/system/cpu/cpu* /cpufreq/interactive/boost 0660 media system
/sys/devices/system/cpu/cpu* /cpufreq/interactive/boostpulse 0660 system system
/sys/devices/system/cpu/cpu* /cpufreq/interactive/boostpulse_duration 0660 system system
/sys/devices/system/cpu/cpu* /cpufreq/interactive/timer_rate 0660 system system
/sys/devices/system/cpu/cpu* /cpufreq/interactive/hispeed_freq 0660 system system
/sys/devices/system/cpu/cpu* /cpufreq/interactive/target_loads 0660 system system
/sys/devices/system/cpu/cpu* /cpufreq/interactive/above_hispeed_delay 0660 system system
/sys/devices/system/cpu/cpu* /cpufreq/interactive/timer_slack 0660 system system
/sys/devices/system/cpu/cpu* /cpufreq/interactive/min_sample_time 0660 system system
/sys/devices/system/cpu/cpu* /cpufreq/interactive/io_is_busy 0660 system system

/sys/devices/system/cpu/cpu* /cpufreq/scaling_governor 0664 system system
/sys/devices/system/cpu/cpu* /cpufreq/scaling_setspeed 0660 system system

/dev/input/event*   0660     system      input
/dev/iio:device1    0660     system      system
/dev/map_user       0660     system      system

/dev/iio:device*    0660     system      system
/sys/bus/iio/devices/trigger*    name    0660    system    system
/sys/bus/iio/devices/iio:device*    /buffer/length    0660    system    system
/sys/bus/iio/devices/iio:device*    /buffer/enable    0660    system    system
/sys/bus/iio/devices/iio:device*    /trigger/current_trigger    0660    system    system

/dev/rtc*           0660     system      system

/dev/block/by-name/gnssmodem       0660     system      root
/dev/block/by-name/gnssmodem_a     0660     system      root
# device/sprd/mpool/module/ueventd/msoc/sharkl5Pro/mfeature/kernel/kernel4.14/kernel4.14.ueventd.rc
/sys/devices/platform/soc/soc:aon/32100000.spi/spi_master/spi4/spi4.0/sc27xx-bltc*/leds/sc27xx:red hw_pattern 0660 system system
/sys/devices/platform/soc/soc:aon/32100000.spi/spi_master/spi4/spi4.0/sc27xx-bltc*/leds/sc27xx:green hw_pattern 0660 system system
/sys/devices/platform/soc/soc:aon/32100000.spi/spi_master/spi4/spi4.0/sc27xx-bltc*/leds/sc27xx:blue hw_pattern 0660 system system
# device/sprd/mpool/module/ueventd/msoc/sharkl5Pro/sharkl5Pro.ueventd.rc
/dev/block/by-name/miscdata       0660     system      system
/dev/block/by-name/persist       0660     system      system
/dev/block/by-name/sysdumpdb        0660     system     system
/dev/block/by-name/pad        0660     system     system
/dev/block/by-name/param	0660	root	system

# Google FRP solution
/dev/block/by-name/persistent    0660    system    system

# Reactivation lock
/dev/block/by-name/steady    0660    system    system
# device/sprd/mpool/module/partition/main.ueventd.rc
/dev/block/mmcblk1p*    0660     root      system
/dev/block/mmcblk0rpmb  0660     system      system
/dev/mmcblk0rpmb        0660     system      system
/dev/rpmb0		 0660     system      system
# device/sprd/mpool/module/rebootescrow/march/arm64/arm64.ueventd.rc
/dev/block/memdisk0p1 0770 system system
/dev/block/pmem0 0770 system system
